.img-thumbnail {
	width: 100px;
}

.cartTitles {
	margin-top: 2em;
	border-bottom: 0.5px solid grey;
}

.cartProduct {
	margin-top: 2em;
}

.cartTotal {
	margin-top: 2em;
	border-top: 0.5px solid grey;
	padding-top: 1em;
}
