$primary: #81a36c !important;
$secondary: #5e7d43;
$success: #a2c993;
// $info:
$warning: #a36f5b;
$danger: #cf273e;
$light: #f2f2f2;
$dark: #012606;

/* Fonts */
$font-family-paragraph: "Roboto", sans-serif;
$font-family-headings: "Poiret One", cursive;
/* FONTS */
// font-family: 'Poiret One', cursive;
// font-family: 'Roboto', sans-serif;

/* DROPDOWN MENU */

.toggleClassDropdown {
	display: none;
}

.toggleClassDropdown.open {
	display: block;
}

.wrapper {
	padding: 3em 0;
}

.cartIcon {
	margin: 0px 20px 0px 20px;
}

.paddingTop {
	padding-top: 1em;
}

.headerspaceBottom {
	padding-bottom: 0.5em;
}

footer {
	background-color: $primary;
	color: $dark;
	padding: 1.3em 0em;
	text-align: center;
	margin-top: 2em;
}

.breadcrumbsContainer {
	padding: 1em 0 1em 1em;
}

.breadcrumbsLink {
	text-decoration: none;
	color: $dark;
	font-size: 18px;
}

.breadcrumbsLink:hover {
	color: $primary;
}

/* CENTER ITEMS */

.detailContainer,
.adminContainer {
	display: flex;
	justify-content: center;
}

.blogTitle {
	margin: 1em 0;
	text-align: center;
}

/* ADMIN PAGE */

.adminBtn {
	background-color: $primary;
	color: $dark;
	width: 100px;
	height: 100px;
	padding: 20px;
	border-radius: 5px;
	border: none;
	margin: 0 1em;
}

.adminBtn:hover {
	color: $light;
	background-color: $dark;
}

/* CART PAGE */

.img-thumbnail {
	width: 100px;
}

.cartTitles {
	margin-top: 2em;
	border-bottom: 0.5px solid grey;
}

.cartProduct {
	margin-top: 2em;
}

.cartTotal {
	margin-top: 2em;
	border-top: 0.5px solid grey;
	padding-top: 1em;
}

/* EDIT PAGE */

.delete {
	background-color: $danger;
	border-color: $danger;
	color: $light;
}

.delete:hover {
	background-color: black;
}

/* PRODUCT PAGE */

.searchContainer {
	margin: 1em 0;
}

.searchContainer input {
	border: 1px solid $dark;
	border-radius: 5px;
	padding: 10px;
}

/* DISPLAY MESSAGE */

.message {
	width: 100%;
	padding: 1rem;
	border: 1px solid grey;
	color: grey;
}

.message.error {
	border-color: $danger;
	color: white;
	background: $danger;
}

.message.warning {
	border-color: $warning;
	color: white;
	background: $warning;
}

.message.success {
	border-color: $success;
	color: $dark;
	background: $success;
}
