$primary: #3b7302 !important;
// $secondary: #ABD904;
// $success: #ABD904;
// $info:
// $warning:
// $danger:
$light: #f2f2f2;
// $dark: #012606;

footer {
	background-color: $primary;
	padding: 2em 0em 2em 0em;
	text-align: center;
}

.wrapper {
	margin: 4em 0;
}

.img-thumbnail {
	width: 100px;
}

.cartTitles {
	margin-top: 2em;
	border-bottom: 0.5px solid grey;
}

.cartProduct {
	margin-top: 2em;
}

.cartTotal {
	margin-top: 2em;
}

.message {
	width: 100%;
	padding: 1rem;
	border: 1px solid grey;
	color: grey;
}

.message.error {
	border-color: red;
	color: white;
	background: red;
}

.message.warning {
	border-color: orange;
	color: white;
	background: orange;
}

.message.success {
	border-color: green;
	color: white;
	background: green;
}
