body {
	padding-bottom: 100px;
}

.wrapper {
	padding: 3em 0;
}

.menuIcon {
	margin: 0px 10px 0px 10px;
}

.noMargins {
	margin: 0;
	padding: 0;
}

.bannerContainer {
	position: relative;
	text-align: center;
}

.bannerContainer img {
	width: 100%;
}

.paddingTop {
	padding-top: 1em;
}

.headerspaceBottom {
	padding-bottom: 0.5em;
}

.breadcrumbsContainer {
	padding: 1em 0 1em 1em;
}

.breadcrumbsLink {
	text-decoration: none;
	color: $dark;
	font-size: 18px;
}

.breadcrumbsLink:hover {
	color: $primary;
}

#loginForm {
	max-width: 600px;
}

/* CENTER ITEMS */

.detailContainer {
	display: flex;
	justify-content: center;
}

.blogTitle {
	margin: 1em 0;
	text-align: center;
}

.col-sm,
.col {
	display: flex;
	justify-content: center;
}

/* FOOTER */

footer {
	background-color: rgba(129, 163, 108, 0.6);
	color: $dark;
	padding: 1.5em 0;
	text-align: center;
	height: 60px;
}

@media screen and(min-width: 650px) {
	.bannerText {
		position: absolute;
		top: 100%;
		left: 50%;
		transform: translate(-50%, -100%);
		background-color: rgba(129, 163, 108, 0.3);
		padding: 20px;
		width: 100%;
	}
}

@media screen and (max-width: 649px) {
	.bannerText {
		position: relative;
		background-color: rgba(129, 163, 108, 0.6);
		padding: 20px;
	}
}
