// // /* Fonts */
// // $font-family-paragraph: "Roboto", sans-serif;
// // $font-family-headings: "Poiret One", cursive;
// // /* FONTS */
// // // font-family: 'Poiret One', cursive;
// // // font-family: 'Roboto', sans-serif;

h1,
h2,
h3,
h4,
h5 {
	color: $dark;
	font-family: "Poiret One", cursive;
}

p,
label,
input {
	font-family: "Roboto", sans-serif;
	font-weight: 300;
}

a {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
}

.fa-1x {
	font-size: 1.7em;
}

.fa-trash {
	color: $danger;
}

.navbar-brand {
	font-family: "Poiret One", cursive;
	font-size: 25px;
}

.btn {
	font-family: "Poiret One", cursive;
}
.btn-dark,
.btn-primary,
.btn-warning {
	color: $light;
}

h6 {
	font-family: "Roboto", sans-serif !important;
	font-weight: 300;
}
